<div class="container">

  <h1>Listing articles</h1>

  <table class='table table-striped'>
	<thead>
	  <tr>
		<td><strong>Title</strong></td>
		<td><strong>Owner</strong></td>
		<td></td>
	  </tr>
	</thead>

	<tbody>
	  <% @articles.each do |article| %>
		<tr>
		  <td><%= article.title %></td>
		  <td><%= User.find(article.user_id).username %></td>
		  <td width='20%'>
			<%= link_to 'Show', article, class: 'btn btn-primary' %>
			<%= link_to 'Edit', edit_article_path(article), class: 'btn btn-info' %>
			<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
		  </td>
		</tr>
	  <% end %>
	</tbody>
  </table>

  <br>

  <%= link_to 'New Article', new_article_path %>
</div>
